<main class="wrap">
    <img class="logo" src="{{ site.baseurl }}/assets/img/logo-wot.png" alt="World Of Tanks Logotype">

    <div class="dominate">
        Be the First to Play and Dominate on PS4.<br>
        Play in the Beta weekend December 4-6.<br>
        Earn exclusive Beta rewards.
    </div>

    <form class="invite">
        <div class="row-form">
            <input type="email" name="email" id="inputEmail" placeholder="Enter your email" required>
        </div>
        <div class="row-form">
            <span class="language">Language</span>
            <select name="language" required>
                <option value="en">English</option>
                <option value="fr">Français</option>
                <option value="es">Español</option>
                <option value="pt">Português</option>
                <option value="pt">Português</option>
                <option value="pl">Polski</option>
                <option value="tr">Türkçe</option>
            </select>
        </div>
        <div class="row-form">
            <button type="submit">Send me invite</button>
        </div>
    </form>

</main>

<footer class="footer">
    <div class="footer-wrap">

        <nav class="nav-bottom">
            <a href="#">EULA</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Cookies Policy</a>
            <a href="#">Terms of Service</a>
        </nav>

        <nav class="nav-social">
            <a href="https://twitter.com/wargaming_net" target="_blank">
                <img src="{{ site.baseurl }}/assets/img/icons/twitter.svg">
            </a>
            <a href="https://plus.google.com/u/0/105483340120702728969/posts" target="_blank">
                <img src="{{ site.baseurl }}/assets/img/icons/google-plus.svg">
            </a>
            <a href="https://www.facebook.com/wargaming.net" target="_blank">
                <img src="{{ site.baseurl }}/assets/img/icons/facebook.svg">
            </a>
        </nav>

        <div class="copyright">
            <div>b© 2012–2015 wargaming.net</div>
            <div>wargaming group limited 105, agion omologiton avenue, 1080</div>
            <div>nicosia, p.o. box 23885, nicosia 1687, cyprus</div>
        </div>

        <a class="footer-logo footer-logo_ps4" href="https://www.playstation.com/" target="_blank">
            <img src="{{ site.baseurl }}/assets/img/logo-ps4.png">
        </a>

        <a class="footer-logo footer-logo_teen" href="#" target="_blank">
            <img src="{{ site.baseurl }}/assets/img/logo-teen.png">
        </a>

    </div>
</footer>