/*---------------------------------------------------------------------------------------------------*/
/* # BASE
/*---------------------------------------------------------------------------------------------------*/
body {
    margin: 0;
    padding: 0;
    background: #f0f0f0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #fff;
    line-height: 1.2;
    position: relative;
    background: url(../img/backgrounds/desktop.jpg) center top no-repeat fixed;
    background-size: cover;
    font-weight: 500;
    @include outer-container;

    @include media($tablet) {
        background-attachment: scroll;
    }
}

a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    @include transition(all .15s ease-in-out);

    &:hover {
        color: #eee;
    }
}

img {
    max-width: 100%;
    display: inline-block;
}