footer.footer {
    // position: absolute;
    // bottom: 0;
    // left: 0;
    // width: 100%;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    padding: 32px 50px 28px;
    color: #999;
    background: rgba(#000, .5);
    // font-family: 'Roboto Condensed', sans-serif;

    a {
        color: #999;
        opacity: .5;

        &:hover {
            // color: #eee;
            opacity: 1;
        }
    }

    .footer-wrap {
        position: relative;
        width: 100%;
    }

    .copyright {
        opacity: .5;
        max-width: 684px;
        margin: 0 auto;
        padding-top: 20px;
        border-top: 1px solid rgba(#999, .5);
        letter-spacing: .75px;
    }
}

.nav-bottom {
    margin-bottom: 16px;

    a {
        display: inline-block;
        padding: 4px 7px;
    }
}

.nav-social {
    margin-bottom: 16px;

    a {
        // float: left;
        display: inline-block;
        margin: 0 5px;
        @include perspective(100px);

        // &:last-child:hover {
        //     @include transform(rotateY(-30deg));
        // }

        img {
            display: block;
            width: 29px;
            height: 29px;
            margin: 0;
            @include transition(all .25s ease-in-out);
            @include transform-style(preserve-3d);
        }

        &:hover img {
            @include transform(rotateY(30deg));
        }
        &:last-child:hover img {
            @include transform(rotateY(-30deg));
        }
    }
}

.footer-logo {
    position: absolute;
    top: 0;
    opacity: .7;

    &_ps4 {
        left: 0;
    }
    &_teen {
        right: 0;
    }

    &:hover {
        opacity: 1;
    }
}
