footer.footer {
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    padding: 32px 50px 28px;
    color: #999;
    background: rgba(#000, .5);

    @include media($mobile) {
        background: rgba(#000, .65);
        padding: 32px 8px 28px;
    }

    .footer-wrap {
        position: relative;
        width: 100%;
    }

    .copyright {
        opacity: .5;
        max-width: 684px;
        margin: 0 auto;
        padding: 20px 0 20px;
        border-top: 1px solid rgba(#999, .5);
        letter-spacing: .75px;
    }
}

.nav-bottom {
    margin-bottom: 16px;

    a {
        display: inline-block;
        padding: 4px 7px;
        opacity: .5;
        color: #999;

        &:hover {
            opacity: 1;
        }
    }
}

.nav-social {
    margin-bottom: 16px;

    a {
        display: inline-block;
        margin: 0 5px;
        @include perspective(100px);

        &:hover {
        }

        img {
            display: block;
            width: 29px;
            height: 29px;
            margin: 0;
            opacity: .5;
            @include transition(all .25s ease-in-out);
            @include transform-style(preserve-3d);
        }

        &:hover img {
            opacity: 1;
            @include transform(rotateY(30deg));
        }
        &:last-child:hover img {
            @include transform(rotateY(-30deg));
        }
    }
}

.footer-logo {
    position: absolute;
    top: 0;
    margin: 0 auto 20px;
    opacity: .5;

    @include media($mobile) {
        position: relative;
        display: block;
    }

    &_ps4 {
        left: 0;
        width: 203px;

        &:hover {
            opacity: 1;
        }
    }
    &_teen {
        right: 0;
        width: 96px;
        pointer-events: none;
    }
}
