.selectBox-dropdown {
    letter-spacing: 1px;
    min-width: 100%;
    height: 57px;
    font-weight: 500;
    padding: 18px 20px;
    border: 2px solid #5a5a5a;
    border-radius: 2px;
    font-family: inherit;
    position: relative;
    line-height: 1.2;
    text-decoration: none;
    color: #999;
    outline: none;
    background: #000;
    box-shadow: none;
    display: inline-block;
    cursor: default;
    text-transform: uppercase;
    font-size: 16px;
    box-sizing: border-box;
    cursor: pointer;
    @include transition(all .15s ease-in-out);

    &:focus,
    &:hover {
        color: #bbb;
        border-color: #999;
    }

    &:focus .selectBox-arrow,
    &:hover .selectBox-arrow {
        @include triangle(22px, #999, down);
    }
}

.selectBox-dropdown .selectBox-arrow {
    background-image: none;
    position: absolute;
    top: 50%;
    right: 20px;
    @include triangle(22px, #5a5a5a, down);
    @include transform(translate3d(0,-50%,0));
    @include transition(all .15s ease-in-out);
}

.selectBox-dropdown.selectBox-menuShowing .selectBox-arrow {
    @include transform-origin(11px 2px);
    @include transform(rotate(180deg));
}


.selectBox-dropdown .selectBox-label {
    padding: 0;
}

.selectBox-options li a {
    color: #999;
    cursor: pointer;
    padding: 9px 10px;
    font-size: 14px;
    text-transform: uppercase;
}

.selectBox-options li:first-child {
    display: none;
}

.selectBox-options li.selectBox-hover a {
    background: rgba(#fff, .10);
    color: #ddd;
}

.selectBox-options li.selectBox-selected a {
    background: rgba(#fff, .15);
    color: #eee;
}

.selectBox-dropdown-menu {
    border: 2px solid #999;
    background: #000;
    max-height: inherit;
}
