main.wrap {
    // position: absolute;
    // left: 0;
    // width: 100%;
    padding: 0 40px;

    img.logo {
        margin: 77px auto 70px;
    }
    .dominate {
        font-weight: 700;
        font-size: 50px;
        text-transform: uppercase;
        text-shadow: -1px 1px 4px rgba(#590e05, .65);
        margin: 0 auto 94px;
        letter-spacing: 2.75px;
    }
    form {
        margin-bottom: 110px;
    }
}
